.pizza-container {
    display:block;
    justify-content: center;
    align-items: center;
}

.pizza-container-top {
    display: flex;
}
.img {
    padding: 10px;
    margin: 50px;
}

.section{

}
.span {
}

.food-menu {
    display:flex;
}