.form-module {
    position: relative;
    background: #d3d3d3;
    width: 100%;
    border-top: 5px solid #20ffb1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    font-family: Fira Sans, fira sans-regular;
    font-size: larger;
}

.form-module .toggle {
    cursor: pointer;
    position: absolute;
    top:0;
    right: 0;
    background: #20ffb1;
    width: 30px;
    height: 30px;
    margin: -5px 0 0;
    color:#ffffff;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
}

.form-module .form {
    display:none;
    padding: 40px;
}

.form-module .form:nth-child(2) {
    display: block;
}

.form-module h2 {
    margin: 0 0 20px;
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    line-height:1;
    text-align: center;
}

.form-module input {
    outline: none;
    display: block;
    width: 100%;
    border: 1px solid #d9d9d9d9;
    margin: 0 0 20px;
    padding:10px 15px;
    transition: .3s ease;
}

.form-module input:focus {
    border: 1px solid #20ffb1;
    color: #000000;
}

.form-module button {
    cursor: pointer;
    background: #20ffb1;
    width:100%;
    border:0;
    padding: 10px 15px;
    color:#000000;
    font-weight: 600;
    transition: .3s ease;
}

.form-module button:hover {
    background: #20ffb1;
}

.form-module .cta {
    background: red;
    width: 100%;
    padding:15px 40px;
    margin-bottom: 15px;
    color: #666666;
    font-size: 1rem;
    text-align: center;
}

.form-module .cta a {
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
    font-stretch: expanded;
}

.form_inputs {
    display: flex-inline-block;
    width: 100%;
    justify-content: center;;
}

[id^="input_"] {
    text-align: center;
    input:required:invalid,
    input:focus:invalid {
        moz-box-shadow:none;
}


#login_button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Fira sans, fira sans-regular;
    border-top: 1px solid #000000;
    background: #20ffb1;
    background: -webkit-gradient(linear, left top, left bottom, from(#20ffb1), to(#20ffb1));
    background: -webkit-linear-gradient(top, #20ffb1, #20ffb1);
    background: -moz-linear-gradient(top, #20ffb1, #20ffb1);
    background: -ms-linear-gradient(top, #20ffb1, #20ffb1);
    background: -o-linear-gradient(top, #20ffb1, #20ffb1);
    padding: 7.5px 15px;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    border-radius: 21px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #000000;
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
    vertical-align: middle;
    }

    #login_button :hover {
    border-top-color: #ffffff;
    background: #ffffff;
    color: #ccc;
    }

#login_button :active {
    border-top-color: #20ffb1;
    background: #20ffb1;
    }