#map-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: Lobster, lobster-regular;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.location-body {
    font-size: 6vh;
    margin:10px;
}

.map {
    display:flex;
    height: 100%; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
    justify-content: center;
    align-items: center;
}

.grid-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns:auto auto;
    grid-template-rows: auto auto;
    width: 100%;
    height: 100%;
    font-family: Lobster, lobster;
    text-align: center;
    font-size: 3vh;
    background: #20ffb1;
    border: 10px;
}

.item {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 100%;
    margin-top: 5px;
    margin-bottom: 30px;
    background-color: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap; 
}

.btn-primary {
    padding:5px;
    border-width: 100%;
    background-color: #20ffb1;
    font-family: Lobster, lobster-regular;
    font-size: 30px;
    font-weight:200;
    text-decoration:none;    
}

.btn-primary:visited {
color: #ffffff;
}

.item p a {
    text-decoration: none;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}

.iframe {
    display:flex;
    /*style="border:0;" allowfullscreen="" loading="eager" referrerpolicy="no-referrer-when-downgrade"
*/}
