@font-face {
    font-family: "Dancing_Script";
    font-style: normal;
    src: url("../fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf") format("truetype");
}
body {
font-family: 'Dancing_Script', Dancing-regular;
}